<div id="wrapper">
  <div class="line"></div>
  <div id="mainpanel">
    <div class="childdiv">
      <img id="child-img" src="../assets/img/man.png"/>
    </div>
    <div class="childdiv">
      <div id="form">
        <div style="background-color:#6785c0;"
        ><span id="form-title">Please fill below form to verifiy to your purchase</span></div>
        <div id="form-content">
          <form  [(formGroup)]="myForm">
            <div class="form-group col">
              <!-- <label>Title</label> -->
              <input type="text" placeholder="Name" formControlName="name" (focusout)="unique()" (focusin)='changevalue()'/>
              <div *ngIf="submitted  && f.name.errors " class="invalid-feedback">
                <span>Name is required</span>
            </div>
            
            <div *ngIf="duplicatedata" class="invalid-feedback">
              Name already exist.
          </div>
            </div>
            <div class="form-group">
              <input type="email" placeholder="Email" formControlName="email" />
              <div *ngIf="submitted && f.email.errors " class="invalid-feedback">
                <!-- <span>Email is required</span> -->
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
            </div>
            <!-- <div *ngIf="submitted && f.email.pattern  && f.email.errors && f.email.dirty" class="invalid-feedback">
              <span>Invalid Email</span>

          </div> -->
          <!-- <div *ngIf="submitted && f.email.errors.email " class="invalid-feedback" >
            <span>Email must be a valid email address</span> </div>-->
            </div> 
            <div class="form-group">
              <input type="text" placeholder="Mobile Number" formControlName="mobileno"  
           />
            
              <div *ngIf="submitted  && f.mobileno.errors " class="invalid-feedback">
                <!-- <span>Mobile Number is required</span> -->
                <span *ngIf="f.mobileno.errors.required">Mobile Number is required</span>
                <span *ngIf="f.mobileno.errors.pattern">Mobile Number must contain 10 digits</span>
            </div>
              </div>
            <!-- <span *ngIf="f.name.errors.required && f.name.errors.touched " style="color: red;">Name is required</span> -->

            <!-- <span *ngIf="f.email.errors.required" style="color: red;">Email is required</span> -->
            <div class="form-group">
              <input type="text" placeholder="Address" formControlName="address"/>
              <div *ngIf="submitted  && f.address.errors" class="invalid-feedback">
                <span>Address is required</span>
            </div>
              </div>

              <div class="form-group">
                <input type="text" placeholder="8 Digit Unique Code" formControlName="uniquecode"
            (focusout)='uniquecheck()'   />
               
                <div *ngIf="submitted && f.uniquecode.errors " class="invalid-feedback">
                  <span>Unique Code is required</span>
              </div>
              <div *ngIf="iscode==true && iscodevalid==false" class="invalid-feedback">
               Invalid Unique Code 
            </div>
            <div *ngIf="iscodevalid==true" class="invalid-feedback">
              Unique Code Expired
           </div>
                </div>
                <div class="form-group">
                  <span style="color:#fff;" >Upload your pic: </span>
                  <input type="file" name='inputFile' placeholder="Upload your pic"  (change)='upload($event)'/>
                  <div *ngIf="isImage==false"  class="invalid-feedback" style="padding: 16px 2px;">
                    <div >Image is required</div>
                </div>
                  </div>
                  <div class="form-group">
                    <input type="button" (click)="onSubmit()" value="Submit"/>

                    </div>
            <!-- <input type="Submit" (click)="submit()"/> -->

          </form>
        </div>
      </div>
      <div id="mobile-man">
      
      </div>
    </div>
  </div>
  <div class="line" id="bottom-line"></div>
</div>


<!-- https://stackblitz.com/edit/angular-8-reactive-form-validation?file=app%2Fapp.component.html -->
<router-outlet></router-outlet>